body {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  /* Preloader */ }
  body #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
    /* makes sure it stays on top */ }
  body #status {
    width: 400px;
    height: 300px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    background-image: url(../images/preloader/copper-loader.gif);
    /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -150px 0 0 -200px;
    /* is width and height divided by two */ }
  body ::selection {
    background: #fcf6c3;
    color: #ff5c5c; }
  body h1, body h2, body h3, body h4 {
    font-family: 'Montserrat', sans-serif; }
  body a {
    color: #2e3c40;
    font-weight: 400; }
  body .container {
    width: 1200px; }
  body.home-page header.header {
    min-height: 780px;
    height: 100vh;
    background-size: contain; }
    body.home-page header.header nav.main-nav ul.list-inline {
      display: inline-block;
      margin: 50px 0 30px; }
      body.home-page header.header nav.main-nav ul.list-inline li {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        margin-right: 50px;
        font-weight: 300;
        font-family: 'Dosis', sans-serif; }
        body.home-page header.header nav.main-nav ul.list-inline li a {
          padding: 0px;
          border-bottom: 1px solid transparent;
          transition: all .15s;
          line-height: 3em;
          background: none; }
        body.home-page header.header nav.main-nav ul.list-inline li a:hover, body.home-page header.header nav.main-nav ul.list-inline li a.active {
          text-decoration: none;
          border-bottom: 1px solid #2e3c40;
          padding-bottom: 7px;
          transition: all .15s; }
    body.home-page header.header .main-logo {
      font-size: 1.5em;
      font-weight: 400;
      margin-top: 50px;
      color: #ff5c5c;
      font-family: 'bebasregular', sans-serif; }
    body.home-page header.header .about-excerpt {
      margin-top: calc(50vh - 315px); }
      body.home-page header.header .about-excerpt .hero-title {
        height: 120px; }
        body.home-page header.header .about-excerpt .hero-title h1 {
          font-size: 4.5em;
          font-weight: 700;
          margin-bottom: 5px;
          margin-left: -3px;
          font-family: 'bebasregular', sans-serif;
          color: #2e3c40; }
        body.home-page header.header .about-excerpt .hero-title h2 {
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 400;
          color: #ff5c5c;
          font-family: 'Dosis', sans-serif;
          margin-top: 0;
          letter-spacing: 0.15em; }
      body.home-page header.header .about-excerpt .excerpt-container p.hero-descr {
        font-family: 'Martel', serif;
        font-size: 2em;
        line-height: 1.8em;
        color: #6b757d;
        margin: 25px 0 50px 0; }
        body.home-page header.header .about-excerpt .excerpt-container p.hero-descr .highlighted {
          font-weight: 600;
          color: #000; }
      body.home-page header.header .about-excerpt .excerpt-container .find-me {
        font-family: 'Dosis', sans-serif;
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: 500;
        letter-spacing: 0.15em; }
        body.home-page header.header .about-excerpt .excerpt-container .find-me ul {
          padding: 0; }
          body.home-page header.header .about-excerpt .excerpt-container .find-me ul li {
            display: inline;
            line-height: 3em; }
            body.home-page header.header .about-excerpt .excerpt-container .find-me ul li span {
              margin: 0 15px; }
            body.home-page header.header .about-excerpt .excerpt-container .find-me ul li a {
              color: #1caede; }
  body.home-page .case-studies h1 {
    font-family: 'bebasregular', sans-serif;
    border-bottom: 2px solid #2e3c40;
    color: #2e3c40;
    margin-bottom: 80px; }
  body.home-page .case-studies ul {
    padding: 0; }
    body.home-page .case-studies ul li.project-line {
      border-bottom: 1px solid #d4d4d4;
      list-style: none;
      float: left;
      width: 100%;
      background: url(../images/arrow.svg) left center no-repeat;
      background-size: 100px 50px; }
      body.home-page .case-studies ul li.project-line:first-child {
        border-top: 1px solid #d4d4d4; }
      body.home-page .case-studies ul li.project-line span {
        line-height: 100px;
        position: absolute;
        left: -60px; }
      body.home-page .case-studies ul li.project-line a {
        text-decoration: none;
        cursor: pointer; }
        body.home-page .case-studies ul li.project-line a h2.project-name {
          font-size: 1.6em;
          font-weight: 600;
          float: left;
          width: 500px;
          line-height: 100px;
          margin: 0; }
        body.home-page .case-studies ul li.project-line a .work-list {
          float: left;
          line-height: 100px; }

/*# sourceMappingURL=style.css.map */
