body {
	font-size: 13px;
	padding: 50px 75px;
	font-family: 'Open Sans', sans-serif;
	color: #000;

	h1, h2, h3, h4 {
		font-family: 'Montserrat', sans-serif;
	}
	a {
		color: #000;
	}
	&.hero-img {
		background: url(../images/hero-img2) #fff no-repeat bottom left;
		background-size: cover;
    	height: 100vh;
	}
	&.hero-text:after {
		color: #e8eaef;
		content: "DESIGNER";
		position: fixed;
		z-index: 9;
		font-size: 240px;
	    bottom: 50px;
	    font-weight: 700;
	    right: -330px;
	}
}

.home-page {
	position: relative;
	z-index:99;
	height: calc(100vh - 100px);
	header {
		margin-bottom: 50px;
		.topbar-nav {
			ul {
				margin-left: 50px;
				li {
					text-transform: uppercase;
					margin-right: 20px;
				}
			}
		}
		.main-logo h1{
			font-size: 16px;
			font-weight: 700;
			margin: 0;
		}
	}
	.main-content {
		h1 {
			font-size: 46px;
			font-weight: 700;
		}
		h2 {
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 400;
			color: #b5b5b5;
			font-family: 'Open Sans', sans-serif;
			margin-top: 10px;
		}
		.basic-info {
			margin-top: 50px;
			h3 {
				font-size: 18px;
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 20px;
			}
			p {
				line-height: 24px;
				color: rgb(51, 51, 51);
			}
		}
	}
	footer {
	    bottom: 0;
		width: calc(100vw - 100px);
		position: absolute;
	}
}