// variables
$primary-color: #ff5c5c;
$primary-grey: #2e3c40;
$light-grey: #afafaf;
$black: #000;
$white: #fff;

.container {
	width: 1100px;
}

.cases-container {
	background-color: #f5f5f5;
}

body {
	font-size: 13px;
	// font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', Helvetica, sans-serif;
	color: #000;
	font-weight: 400;

	/* Preloader */
	#preloader {
	    position:fixed;
	    top:0;
	    left:0;
	    right:0;
	    bottom:0;
	    background-color: #fff; //#2b2b2c; /* change if the mask should have another color then white */
	    z-index:999999; /* makes sure it stays on top */
	}
	#status {
	    width:400px;
	    height:300px;
	    position:absolute;
	    left:50%; /* centers the loading animation horizontally one the screen */
	    top:50%; /* centers the loading animation vertically one the screen */
	    background-image:url(../images/preloader/dot-load.gif); /* path to your loading animation */
	    background-repeat:no-repeat;
	    background-position:center;
	    margin:-150px 0 0 -200px; /* is width and height divided by two */
	    background-size: contain;
	    &:after {
			content: 'Loading...';
		    text-align: center;
		    position: absolute;
		    bottom: -50px;
		    width: 100%;
		    font-size: 1.6em;
		    font-weight: 100;
		    margin-bottom: 15px;
		    margin-left: -3px;
		    font-family: 'bebasregular', Helvetica, sans-serif;
		    color: #2e3c40;
		    word-spacing: .15em;
		}
	}

	// body selection text
	::selection {
	    background: #fcf6c3;
	    color: $primary-color;
	}

	h1, h2, h3, h4 {
		font-family: 'Montserrat', georgia, sans-serif;
	}
	a {
		color: $primary-grey;
		font-weight: 400;
	}

	// home page and other page styles
	&.home-page, &.case-study-page {
		header.header {
			min-height: 780px;
			height: 100vh;
			max-width: 1000px;
			width: 90%;
			margin: 0 auto;
			&.normal-header {
				min-height: 80px !important;
				height: 80px !important;
			}
			// main navigation styles
			nav.main-nav {
				text-align: right;
				ul.list-inline{
					display: inline-block;
					margin: 50px 0 30px;
					li {
						text-transform: uppercase;
						letter-spacing: 1px;
						font-size: 12px;
						margin-left: 50px;
						font-weight: 300;
						font-family: 'Dosis', Helvetica, sans-serif;
						a, a:focus, a:active, a:active:focus, a:visited {
							padding: 0px;
							border-bottom: none !important;
							transition: all .15s;
							line-height: 3em;
							background: none;
							&:after {
								content: '';
							    border-bottom: 1px solid rgba(46,60,64,0) !important;
							    display: block;
							    transition: all .15s;
							    position: relative;
							    top: -1em;
							}
						}
						a:hover {
							text-decoration: none;
							transition: all .15s;
							&:after {
								content: '';
							    border-bottom: 1px solid rgba(46,60,64,1) !important;
							    transition: all .15s;
							    top: 0;
							}
						}
					}
				}
			}
			// main logo style
			.main-logo {
				font-size: 1.5em;
				font-weight: 400;
				margin-top: 50px;
				font-family: 'bebasregular', Helvetica, sans-serif;
				text-align: left;
				a{
					color: $primary-color;
					&:hover {
						text-decoration: none;
					}
				}
			}
			.about-excerpt {
				margin-top: calc(50vh - 365px);
				.hero-title{
					height: 120px;
					h1 {
						font-size: 4.5em;
						font-weight: 700;
						margin-bottom: 15px;
						margin-left: -3px;
						font-family: 'bebasregular', Helvetica, sans-serif;
						color: $primary-grey;
						word-spacing: .15em;
					}
					h2 {
						text-transform: uppercase;
						font-size: 13px;
						font-weight: 400;
						color: $primary-color;
						font-family: 'Dosis', Helvetica, sans-serif;
						margin-top: 0;
						letter-spacing: 0.15em;
					}
				}
				.excerpt-container {
					p.hero-descr {
						font-family: 'Martel', serif;
						font-size: 2em;
						line-height: 1.8em;
						color: #6b757d;
						margin: 35px 0 50px 0;
						.highlighted {
							font-weight: 600;
							color: $black;
						}
					}
					.find-me{
						font-family: 'Dosis', Helvetica, sans-serif;
					    text-transform: uppercase;
					    font-size: 1.1em;
					    font-weight: 500;
					    letter-spacing: 0.15em;
					    ul {
					    	padding: 0;
					    	li{
						    	display: inline;
						    	line-height: 3em;
						    	span {
						    		margin: 0 15px;
						    	}
						    	a {
								    color: #1caede;
							        transition: all .15s;
							        border-bottom: 1px solid transparent;
								    &:hover {
								    	text-decoration: none;
								    	color: $primary-color;
								    	border-bottom: 1px solid $primary-color;
							    	    transition: all .25s;
								    }
								}
						    }
						}
					}
				}
			}
		}
		// links default style 
		.links-default {
			font-family: 'Dosis', Helvetica, sans-serif;
		    text-transform: uppercase;
		    font-size: 1.1em;
		    font-weight: 500;
		    letter-spacing: 0.15em;
		    color: #1caede;
		    float: left;
		    margin-top: 45px;
		    border-bottom: 1px solid transparent;
		    transition: all .15s;
		    &:hover {
		    	text-decoration: none;
		    	color: $primary-color;
		    	border-bottom: 1px solid $primary-color;
		    	transition: all .25s;
		    }
		}
		.find-more{
			font-family: 'Dosis', Helvetica, sans-serif;
		    text-transform: uppercase;
		    font-size: 1.1em;
		    font-weight: 500;
		    letter-spacing: 0.15em;
		    margin-top: 50px;
		    float: left;
		    ul {
		    	padding: 0;
		    	li{
			    	display: inline;
			    	line-height: 3em;
			    	span {
			    		margin: 0 15px;
			    	}
			    	a {
					    color: #1caede;
					    transition: all .15s;
					    &:hover {
					    	text-decoration: none;
					    	color: $primary-color;
					    	border-bottom: 1px solid $primary-color;
					    	transition: all .25s;
					    }
					}
			    }
			}
		}
		// Sidekick
		.sidekicks {
			max-width: 1100px;
			width: 100%;
			margin-top: 150px;
			float: left;
			margin-bottom: 80px;
			padding: 50px 50px 0px;
			background-color: #ececec;
			.collaboration {
				font-family: 'Dosis', Helvetica, sans-serif;
			    text-transform: uppercase;
			    font-size: 1.1em;
			    font-weight: 500;
			    letter-spacing: 0.15em;
			}
			p{
				font-family: 'Martel', serif;
			    font-size: 1.4em;
			    line-height: 1.8em;
			    color: $black;
			    margin: 20px 0 50px 0;
			}
		}
		// featured casestudy list, lab section, approach section in home page
		.case-studies-list, .lab-personal, .approach-section{
			max-width: 1100px;
			width: 100%;
			margin: 0 auto;
			h1{
			    font-family: 'bebasregular', Helvetica, sans-serif;
			    border-bottom: 2px solid #2e3c40;
			    color: #2e3c40;
			    margin: 80px 0 0;
			    padding-bottom: 10px;
			}
			ul{
				padding:0;
				li.project-line {
				    list-style: none;
				    float: left;
				    width: 100%;
				    height: 100px;
				    display: block;
				    &:first-child a.project-info{
				    	border-top: 1px solid #d4d4d4;
				    }
				    &:first-child a.project-info:hover{
				    	border-top: 1px solid transparent;
				    }
				    span {
				    	line-height: 100px;
				    	position: absolute;
				    	left: -60px;
				    }
				    a.project-info{
				    	text-decoration: none;
				    	cursor: pointer;
					    position: relative;
					    z-index: 99;
					    border-bottom: 1px solid #d4d4d4;
					    background: url(../images/arrow.svg) right center no-repeat;
				    	background-size: 26px;
					    width: 100%;
					    display: block;
					    padding-right: 36px;
				    	h2.project-name{
				    		font-size: 1.6em;
				    		font-weight: 600;
				    		float: left;
				    		width: 75%;
				    		line-height: 100px;
				    		margin: 0;
				    	}
				    	.work-list p{
				    		line-height: 100px;
				    		margin: 0;
				    		font-family: 'Dosis', Helvetica, sans-serif;
				    		font-size: 1.1em;
						    font-weight: 500;
						    letter-spacing: 0.10em;
						    color: $light-grey;
						    white-space: nowrap;
						    text-overflow: ellipsis;
						    overflow: hidden;
				    	}
				    	.project-hover {
			    		    position: absolute;
			    		    width: calc(100% + 46%);
			    		    left: -40%;
			    		    opacity: 0;
			    		    top: 0;
			    		    color: $black;
			    		    display: block;
			    		    transition: all .1s;
			    		    height: 0;
			    		    padding: 0 25px;
			    		    visibility: hidden;
			    		    background-position: right 54px top 20px;
			    		    h2{
					    		font-family: 'Playfair Display', Georgia, serif;
					    		font-weight: 700;
					    		font-size: 2em;
					    		width: 40%;
					    		float: left;
					    		line-height: 80px;
					    		transition: all .1s;
					    		white-space: nowrap;
					    		text-overflow: ellipsis;
					    		overflow: hidden;
			    		    }
			    		    .view-section{
			    		    	text-align: right;
			    		    	position: relative;
			    		    	right: 26px;
			    		    }
			    		    .role-list, .year-section, .view-section {
			    		    	width: 25%;
			    		    	float: left;
			    		    	.label-head {
			    		    		font-family: 'Dosis', Helvetica, sans-serif;
								    text-transform: uppercase;
								    font-size: 1em;
								    font-weight: 500;
								    letter-spacing: 0.15em;
								    margin-top: 15px;
								    transition: all .1s;
			    		    	}
			    		    	.label-note {
			    		    		font-family: 'Martel', Georgia, serif;
								    font-size: 1em;
								    margin-top: 15px;
			    		    	}
			    		    }
			    		    .year-section {
			    		    	width: 10%;
			    		    	text-align: center;
			    		    }
				    	}
				    	&:hover {
				    		border-bottom: 1px solid transparent;
				    		.project-hover {
				    			background-image: url(../images/arrow.svg);
				    			background-position: right 54px top 60px;
				    			background-repeat: no-repeat;
				    			background-size: 26px;
				    			opacity: 1;
				    			transition: all .15s, background-position .4s;
				    			height: 100px;
				    			visibility: visible;
				    			h2 {
				    				line-height: 100px;
				    				transition: all .35s;
				    			}
				    			.label-head {
				    				margin-top: 25px;
				    				transition: all .35s;
				    			}
				    		}
				    	}

				    }
				}
			}
		}

		.approach-container {
			background: url(../images/approach-bg.jpg) center center no-repeat #000;
    		background-size: cover;
    		padding-top: 50px;
    		padding-bottom: 50px;
			.approach-section {
				margin: 0 auto;
				h1 {
					color: $white;
					border-bottom-color: $white;
				}
				.approach-box{ 
					height: 300px;
					text-align: center;
					margin-top: 100px;
					h5 {
						font-family: 'Montserrat', georgia, sans-serif;
						font-size: 1.4em;
					    font-weight: 400;
					    margin: 30px auto 20px;
					    color: $white;
					}
					img {
						width: 100px;
						margin: 0 auto;
					}
					p {
						font-size: 1.1em;
					    line-height: 2rem;
					    color: #6d6d6d;
	    				font-weight: 300;
	    				padding: 0 15px;
	    				color: $white;
					}
				}
			}
		}

		.contact-section, .contact-section-small {
			min-height: 550px;
			background: url(../images/face3.jpg) no-repeat left bottom #fff;
			position: relative;
			.find-me{
				font-family: 'Dosis', Helvetica, sans-serif;
			    text-transform: uppercase;
			    font-size: 1.1em;
			    font-weight: 500;
			    letter-spacing: 0.15em;
			    //margin-top: 250px;
			    position: absolute;
			    ul {
			    	padding: 0;
			    	li{
				    	display: inline;
				    	line-height: 3em;
				    	span {
				    		margin: 0 15px;
				    	}
				    	a {
						    color: #1caede;
						    transition: all .15s;
						    &:hover {
						    	text-decoration: none;
						    	color: $primary-color;
					    		border-bottom: 1px solid $primary-color;
					    		transition: all .25s;
						    }
						}
				    }
				}
			}
		}

		.footer-container{
			background-color: #f1f1f1;
			.contact-section-small {
				max-width: 1100px;
				width: 90%;
				padding-top: 100px;
				padding-bottom: 100px;
				background: none;
				margin: 0 auto;
				min-height: 260px;
			}
		}

		.lab-personal {
			.lab-box {
				margin-top: 30px;
				a {
					padding: 10px;
					img {
						//box-shadow: 0px 0px 4px rgba(0,0,0,.25);
					}
					&:hover {
						img {
							box-shadow: 0px 0px 8px rgba(0,0,0,.5);
						}
					}
				}
			}
		}
		// case study page / portfolio page styles
		.case-study-container{
			font-size: 14px;
			text-align: center;
			h1.case-header{
				font-size: 6.5em;
			    color: #2e3c40;
			    text-transform: uppercase;
			    font-family: 'bebasregular', Helvetica, sans-serif;
			    margin: 150px 0 200px;
			    word-spacing: .15em;
			    .small-caps {
			    	font-family: 'Roboto', Helvetica, sans-serif;
			    	text-transform: lowercase;
			    	font-weight: 600;
			    	font-size: 1.2em;
			    }
			}
			h2.case-excerpt{
			    font-family: 'Martel', Georgia, serif;
			    font-size: 2em;
			    line-height: 1.5em;
			    color: #383838;
			    margin: 25px auto 180px;
			    font-weight: lighter;
			    max-width: 1100px;
			    width: 100%;
			}
			h3{
			    font-family: 'bebasregular', Helvetica, sans-serif;
			    color: #111517;
			    margin: 100px 0 30px;
			    padding-bottom: 2px;
			    font-size: 2.2em;
			    word-spacing: .25em;
			    &:after {
		    	    width: 50px;
				    display: block;
				    height: 2px;
				    background: #111517;
				    margin: 30px auto;
				    content: "";
			    }
			}
			p, ul, blockquote, h4, h5{
				font-size: 1.2em;
				line-height: 3.5rem;
				max-width: 650px;
				width: 100%;
				margin: 0 auto 50px;
			}
			p, ul, blockquote{
				color: #6d6d6d;
				font-weight: 300;
			}
			ul {
				padding-left: 0;
				li{
					list-style: none;
				}
			}
			blockquote {
				border: 0;
			    font-family: 'Martel', Georgia, serif;
			    line-height: 1.8em;
			    color: #383838;
			    label {
			    	display: block;
				    margin-top: 10px;
				    font-family: 'Roboto', Helvetica, sans-serif;
				    font-weight: 500;
				    font-size: 0.9em;
				    color: $light-grey;
			    }
			}
			img {
				margin: 0 auto 80px;
				&.image-shadow-box{
					box-shadow: 0px 0px 7px rgba(0,0,0,.3);
				}
			}
			hr {
				margin-bottom: 70px;
			}
			.grey-bg {
				background-color: #f3f3f3;
				padding: 70px 0 20px;
				margin-bottom: 50px;
				blockquote {
				    label {
					    color: $primary-grey;
				    }
				}
			}
			.black-ui {
				background: #292929;
				padding: 1px 0 40px;
				p, h3, blockquote {
					color: $white;
				}
				h3:after {
					background-color: $white;
				}
			}
			// wiser air quote section
			.wiserair-quotes{
				background: url(../images/cases/wiserair/quotes.jpg) center center no-repeat;
				background-size: cover;
			}
		}

		// page navigation styles
		.page-select{
			margin-bottom: 50px;
			margin-top: 50;
			a{
				text-decoration: none;
			    cursor: pointer;
			    position: relative;
			    z-index: 99;
			    border: 1px solid #d4d4d4;
			    display: block;
			    text-align: center;
			    transition: all 0.2s ease-out;
			    &:first-child{
			    	border-left: 0px;
			    	border-right: 0px;
			    	background: url(../images/arrow-left.svg) left 30px center no-repeat;
			    	background-size: 26px;
			    	text-align: right;
			    	h2 {
			    		width: 85%;
					    white-space: nowrap;
					    text-overflow: ellipsis;
					    overflow: hidden;
					    float: right;
			    	}
			    	&:hover {
			    		background: url(../images/arrow-left-white.svg) left 15px center no-repeat #2e3c40;
			    		background-size: 26px;
			    		transition: all 0.2s ease-out;
			    	}
			    }
			    &:last-child {
			    	border-right: 0px;
			    	border-left: 0px;
			    	background: url(../images/arrow.svg) right 30px center no-repeat;
			    	background-size: 26px;
			    	text-align: left;
			    	h2 {
			    		width: 85%;
					    white-space: nowrap;
					    text-overflow: ellipsis;
					    overflow: hidden;
			    	}
			    	&:hover {
			    		background: url(../images/arrow-white.svg) right 15px center no-repeat #2e3c40;
			    		background-size: 26px;
			    		transition: all 0.2s ease-out;
			    	}
			    }
			    &:hover {
				background-color: #2e3c40;
				transition: all 0.2s ease-out;
				h2 {
					color: $primary-color;
					}
				}
				h2{
				    font-size: 1.6em;
				    font-weight: 600;
				    line-height: 100px;
				    margin: 0;
				    font-family: 'Montserrat', georgia, sans-serif;
				    text-align: center;
				}
			}
		}
	}
}

// media query for width less than 1100 px
@media only screen and (max-width: 1100px) {
	.container {
	    width: 90vw;
	}
	body{
		font-size: 10px;
		// home page and other page styles
		&.home-page, &.case-study-page {
			header.header {
				height: auto;
				max-height: auto;
				nav.main-nav {
					text-align: left;
				}
				.about-excerpt {
					margin-top: 100px;
				}
			}
			// featured casestudy list in home page
			.case-studies-list, .lab-personal{
				width: 90%;
				ul{
					li.project-line{
						span {
							visibility: hidden;
						}
						a.project-info {
							.project-hover {
								width: calc(100% + 30px);
								left: -15px;
								padding: 0 15px;
								background-position: right 15px top 55px !important;
							}
						}
					}
				}
			}
			.case-study-container{
				font-size: 10px;
				p{
					line-height: 2.5rem
				}
			}
			.approach-container {
				.approach-section {
					width: 90%;
					.approach-box {
						width: 60%;
						margin: 40px auto;
						font-size: 12px;
					}
				}
			}
			// page navigation styles
			.page-select{
				a{
					float: left;
				    width: 100%;
				    background-image: none !important;
				    border-left: 0;
				    border-right: 0;
				    &:first-child, &:last-child{
				    	h2 {
				    		width: 100%;
				    	}
				    	&:hover {
				    		background: #2e3c40;
				    		background-image: none
				    	}
				    }
				    &:hover {
					background-color: #2e3c40;
					h2 {
						color: $primary-color;
						}
					}
				}
			}
		}
	}
}

// media query for width less than 450 px
@media only screen and (max-width: 450px){
	body.home-page {
		header.header .about-excerpt {
			margin-top: 50px;
			margin-bottom: 50px;
			.hero-title h2{
				line-height: 26px;
			}
			.excerpt-container .find-me ul li {
				list-style: none;
				display: block;
				span {
					display: none;
				}
			}
		}
		.approach-container .approach-section .approach-box{
			width: 100%;
		}
		header.header nav.main-nav ul.list-inline li {
			margin-left: 0;
			margin-right: 15px;
		}
		.contact-section {
			background-image: none;
		}
		.links-default {
			width: 100%;
		}
	}
}

.color-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	animation: colorgrow 2s 1;
}

@keyframes colorgrow {
    from {width: 0px;}
    to {width: 100vw;}
}

.color-yellow {
	background-color: #F7CA18;
}
.color-pink {
	background-color: #e05b79;
}
.color-blue {
	background-color: #6cbdf3;
}
.color-orange {
	background-color: #e86161;
}
.color-green{
	background-color: #87D37C;
}
.color-red{
	background-color: #da88a5;
	// EC644B
}
.color-plum{
	background-color: #c99de4;
}
.color-turquoise{
	background-color: #6bd6b9;
}
.color-orange-light{
	background-color: #F4B350;
}
.color-lime{
	background-color: #C8F7C5;
}
.color-grey{
	background-color: #DADFE1;
}

// back to top css
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background: #e1e1e1;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    font-size: .9em;
}
#back-to-top:hover {
    background: #ff5c5c;
    color: white;
    font-size: 1em;
    transition: font-size 0.2s ease-out;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}