// variables
$primary-color: #ff5c5c;
$primary-grey: #2e3c40;

body {
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	color: #000;

	// body selection text
	::selection {
	    background: #fcf6c3;
	    color: $primary-color;
	}

	h1, h2, h3, h4 {
		font-family: 'Montserrat', sans-serif;
	}
	a {
		color: $primary-grey;
		font-weight: 400;
	}

	.container {
		width: 1200px;
	}
	// home page styles
	&.home-page {
		header.header {
			min-height: 780px;
			height: 100vh;
			// background: url(../images/arun-final.png) #fff no-repeat bottom left -55px;
			background-size: contain;

			// main navigation styles
			nav.main-nav {
				ul.list-inline{
					display: inline-block;
					margin: 50px 0 30px;
					li {
						text-transform: uppercase;
						letter-spacing: 1px;
						font-size: 12px;
						margin-right: 50px;
						font-weight: 300;
						font-family: 'Dosis', sans-serif;
						a {
							padding: 0px;
							border-bottom: 1px solid transparent;
							transition: all .15s;
							line-height: 3em;
							background: none;
						}
						a:hover, a.active {
							text-decoration: none;
							border-bottom: 1px solid $primary-grey;
							padding-bottom: 7px;
							transition: all .15s;
						}
					}
				}
			}
			// main logo style
			.main-logo {
				font-size: 1.5em;
				font-weight: 400;
				margin-top: 50px;
				color: $primary-color;
				font-family: 'bebasregular', sans-serif;
			}
			.about-excerpt {
				margin-top: 15vh;
				.hero-title{
					height: 120px;
					h1 {
						font-size: 46px;
						font-weight: 700;
						margin-bottom: 5px;
						margin-left: -3px;
						font-family: 'bebasregular', sans-serif;
						color: $primary-grey;
					}
					h2 {
						text-transform: uppercase;
						font-size: 13px;
						font-weight: 400;
						color: $primary-color;
						font-family: 'Dosis', sans-serif;
						margin-top: 0;
						letter-spacing: 0.15em;
					}
				}
				.excerpt-container {
					p.hero-descr {
						font-family: 'Martel', serif;
						font-size: 1.6em;
						line-height: 1.8em;
						strong {
							font-weight: 600;
						}
					}
					a.more-info-link {
					    font-family: 'Dosis', sans-serif;
					    text-transform: uppercase;
					    font-size: 1.1em;
					    color: #1caede;
					    font-weight: 500;
					}
				}
			}
		}
	}
}