@import '0-plugins/bourbon/bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 13px;;
}

.container {
	width: 1100px;
}


body {
	font: {
		size: 13px;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $content;
	background-color: $background;
	@include font-smoothing;
}

a {
	color: $color-1;
	text-decoration: none;
}

// Header styles

header.header {
	position: relative;
	//top: -20px;
	width: 1000px;
	height: 80px;
	transition: top 0.2s ease-in-out;
	z-index: 999;
	margin: 0 auto;
	// main navigation styles
	nav.main-nav {
		text-align: right;
		ul.list-inline{
			display: inline-block;
			margin: 0 0 30px;
			li {
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 12px;
				margin-right: 50px;
				font-weight: 300;
				font-family: 'Dosis', Helvetica, sans-serif;
				a, a:focus, a:active, a:active:focus, a:visited {
					padding: 0px;
					border-bottom: none !important;
					transition: all .15s;
					line-height: 3em;
					background: none;
					color: #2e3c40;
					font-weight: 400;
				}
				a:hover {
					text-decoration: none;
					border-bottom: 1px solid #2e3c40 !important;
					padding-bottom: 7px;
					transition: all .15s;
				}
			}
		}
	}
	// main logo style
	.main-logo {
		font-size: 1.5em;
		font-weight: 400;
		color: #ff5c5c;
		font-family: 'bebasregular', Helvetica, sans-serif;
		text-align: left;
	}
}

/* -------------------------------- 

Slideshow 

-------------------------------- */

.cd-slideshow-wrapper {
	overflow: hidden;

	@include MQ(L) {
		height: 100vh;
	}
}

.cd-slideshow {
	position: relative;

	&::before {
		/* never visible - this is used in jQuery to check the current MQ */
		content: 'mobile';
		display: none;
	}

	.sub-slides {
		width: 100%;
		@include clearfix;
		/* Force Hardware acceleration */
		@include transform(translateZ(0));
		@include transition(transform .3s);
	}

	> li, .sub-slides > li {
		position: relative;
		z-index: 1;
		height: 100vh;
		width: 100vw;
		@include clearfix;
	}

	.sub-slides > li {
		float: left;
	}

	.slider-dots {
		/* 
			dots visible on mobile when a slide has sub-slides
			you won't see this element in the html - created using jQuery
		*/
		position: absolute;
		z-index: 3;
		bottom: 20px;
		left: 0;
		width: 100vw;
		text-align: center;

		li {
			display: inline-block;
			height: 10px;
			width: 10px;
			margin-right: 5px;
			border-radius: 50%;
			border: 1px solid $content;
			@include transition(background-color .3s);

			&.active {
				background-color: $content;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	&.remove-transitions {
		/* 
			remove transition on transforms 
			used to switch form a slide to another from the main navigation
		*/
		@include transition(transform 0s);

		.sub-slides {
			@include transition(transform 0s);
		}
	}

	@include MQ(L) {
		/* Force Hardware acceleration */
		@include transform(translateZ(0));
		@include transition(transform $animation-duration);

		&::before {
			/* never visible - this is used in jQuery to check the current MQ */
			content: 'desktop';
		}

		.sub-slides {
			@include transition-duration($animation-duration);
		}

		> li, .sub-slides > li {
			height: auto;
			width: auto;
		}

		.slider-dots { 
			opacity: 0;
			visibility: hidden;
		}
	}
}

/* -------------------------------- 

Slide Content

-------------------------------- */

.cd-slider-content {
	position: relative;
	height: 100vh;
	width: 100vw;
	float: left;
	display: table;

	.content-wrapper {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		background-color: $color-1;
	}

	.cd-slideshow > li:nth-of-type(1) & .content-wrapper {
		background: $color-1;
	}

	.cd-slideshow > li:nth-of-type(2) & .content-wrapper {
		background: $color-2;
	}

	.cd-slideshow > li:nth-of-type(3) & .content-wrapper {
		background: $color-3;
	}

	.cd-slideshow > li:nth-of-type(4) & .content-wrapper {
		background: $color-4;
	}

	.cd-slideshow > li:nth-of-type(5) & .content-wrapper {
		background: $color-5;
	}

	.cd-slideshow > li:nth-of-type(6) & .content-wrapper {
		background: $color-6;
	}

	h1 {
		font-size: 4em;
	    font-weight: 700;
	    margin-bottom: 15px;
	    margin-top: 100px;
	    font-family: 'bebasregular', Helvetica, sans-serif;
	    color: #2e3c40;
	    word-spacing: .15em;
	}

	h2 {
	    font-size: 6.5em;
	    color: #2e3c40;
	    text-transform: uppercase;
	    font-family: 'bebasregular', Helvetica, sans-serif;
	    // margin: 30vh 0 50px;
	    word-spacing: .15em;
	}

	h3 {
		font-family: 'bebasregular', Helvetica, sans-serif;
	    color: #111517;
	    margin: 70px 0 50px;
	    padding-bottom: 2px;
	    font-size: 2.2em;
	    word-spacing: .25em;
	    position: absolute;
	    top: 0;
	    text-align: center;
	    width: 100%;
	    &:after {
    	    width: 50px;
		    display: block;
		    height: 2px;
		    background: #111517;
		    margin: 30px auto;
		    content: "";
	    }
	}

	h5 {
		font-family: 'Martel', Georgia, serif;
	    font-size: 2em;
	    line-height: 1.5em;
	    color: #383838;
	    margin: 25px auto 50px;
	    font-weight: lighter;
	    max-width: 1100px;
	    width: 100%;
	}

	img {
		max-width: 1000px;
		width: 90%;
		margin: 0 auto;
	}

	p {
		margin: 1em 0 2em;
		opacity: .6;
		&.more-excerpt {
			font-family: 'Martel', serif;
		    font-size: 1.5em;
		    line-height: 1.8em;
		    color: #252525;
        	margin: 35px auto 50px auto;
		    font-weight: 400;
		    max-width: 700px;
		}
		&.role, &.year {
			text-transform: uppercase;
		    letter-spacing: 1px;
		    font-size: 13px;
		    font-weight: 300;
		    font-family: 'Dosis', Helvetica, sans-serif;
		}
	}

	@include MQ(L) {
		height: 84vh;
		min-height: 650px;
		width: 80vw;
		margin: 2vh 10vw;
		border-radius: 10px;
		cursor: pointer;

		.visible .sub-visible &,
		.visible > & {
			/* visible slide */
			cursor: auto;
		}

		.cd-slideshow > li:first-of-type & {
			margin-top: 4vh;
			max-height: 680px;
			.content-wrapper {
				box-shadow: none;
			}
			&::after {
				box-shadow: none;
				background-color: transparent;
			}
		}

		.sub-slides > li:first-of-type & {
			margin-left: 10vw;
		}

		.sub-slides > li & {
			margin-left: 2.5vw;
			margin-right: 2.5vw;
		}

		.content-wrapper {
			height: 100%;
			/* hide the slide content if the slide is not selected/visible */
			opacity: 0;
			box-shadow: 0 0px 5px rgba(#000, .4), inset 0 1px 0 rgba(#fff, .15);
			border-radius: inherit;
			@include transition(opacity $animation-duration);
		}

		&::after {
			/* this is used to change the slide background color when the slide is out of focus */
			content: '';
			position: absolute;
			z-index: 3;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			border-radius: inherit;
			background-color: #eaeaea; //#ff5c5c;
			box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.1);
			opacity: 1;
			visibility: visible;
			@include transition(opacity $animation-duration, visibility $animation-duration);
		}

		.visible & .content-wrapper {
			opacity: 1;
		}

		.visible &::after {
			opacity: 0;
			visibility: hidden;
		}

		h1 {
		    font-size: 4.5em;
		    font-weight: 700;
		    margin-bottom: 15px;
		    margin-left: -3px;
		    font-family: 'bebasregular', Helvetica, sans-serif;
		    color: #2e3c40;
		    word-spacing: .15em;
		}

		p {
			font-weight: bold;
		}
	}
}

/* -------------------------------- 

Slideshow Navigation

-------------------------------- */

.cd-slideshow-nav {
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;

	.cd-nav-items {
		position: fixed;
		z-index: 1;
		height: 100vh;
		width: 50%;
		overflow: hidden;
		top: 0;
		left: 0;
		background-color: #2e3c40;
		@include transform(translateX(-100%));
		@include transition(transform .3s);

		> ol {
			height: 100%;
			overflow: auto;
			padding: 80px 20px 80px 30px;
		}
	}

	ol ol {
		padding-left: 1em;
	}

	a {
		color: $content;
		display: inline-block;
		margin-bottom: .8em;

		// /* list bullets */ &:before {}
		// 	position: relative;
		// 	content: '';
		// 	display: inline-block;
		// 	width: 8px;
		// 	height: 8px;
		// 	background: tint($background, 30%);
		// 	border-radius: 50%;
		// 	margin-right: .4em;
		// 	@include transform(translateY(-2px));
		// }
	}

	&.nav-open .cd-nav-items {
		@include transform(translateX(0));

		> ol {
			-webkit-overflow-scrolling: touch;
		}
	} 

	@include MQ(L) {
		.cd-nav-items > ol {
			padding: 14vh 6vw;
		}

		ol ol {
			padding-left: 3em;
		}

		a {
			font-weight: bold;
			color: tint($background, 20%);
			font-size: 1.5rem;
			@include transition(all .2s);
			font-family: 'Dosis', Helvetica, sans-serif;
		    font-weight: 500;
		    line-height: 1.5em;

			&:before {
				/* list bullets */
				// width: 24px;
				// height: 24px;
				// @include transform(translateY(-2px));
				// @include transition(all .2s);
			}

			.no-touch &:hover {
				color: #ff5c5c;
				text-decoration: none;
			}
		}

		.cd-nav-items > ol > li:nth-of-type(1) a:hover::before,
		.cd-nav-items > ol > li:nth-of-type(1) li a:hover::before  {
			background: $color-1;
		}

		.cd-nav-items > ol > li:nth-of-type(2) a:hover::before,
		.cd-nav-items > ol > li:nth-of-type(2) li a:hover::before  {
			background: $color-2;
		}

		.cd-nav-items > ol > li:nth-of-type(3) a:hover::before,
		.cd-nav-items > ol > li:nth-of-type(3) li a:hover::before  {
			background: $color-3;
		}
		
		.cd-nav-items > ol > li:nth-of-type(4) a:hover::before,
		.cd-nav-items > ol > li:nth-of-type(4) li a:hover::before  {
			background: $color-4;
		}

		.cd-nav-items > ol > li:nth-of-type(5) a:hover::before,
		.cd-nav-items > ol > li:nth-of-type(5) li a:hover::before  {
			background: $color-5;
		}

		.cd-nav-items > ol > li:nth-of-type(6) a:hover::before,
		.cd-nav-items > ol > li:nth-of-type(6) li a:hover::before  {
			background: $color-6;
		}
	}
}

@media only screen and (max-width: 1800px){
	.cd-slider-content h3 {
		display: none;
	}

	.cd-slider-content img {
		max-width: 700px;
		max-height: 70vh;
	}
}

@media only screen and (max-width: 1500px){
	.cd-slider-content {
		min-height: 84vh !important;
	}
}

.back-home {
	position: fixed;
    z-index: 2;
    top: 60px;
    left: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: rgba(255, 92, 92, 0.85);
    box-shadow: 0 2px 3px transparent;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    span {
    	color: white;
	    line-height: 27px;
	    width: 30px;
	    font-size: 12px;
	    left: 9px;
    }

    @include MQ(L) {
		height: 30px;
		width: 30px;
		left: calc(3.5vw - 15px);
		top: calc(5vw - 10px);;
	}
}

.cd-nav-trigger {
	position: absolute;
	z-index: 2;
	top: 20px;
	left: 20px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	border-radius: 50%;
	border: none;
	outline: none;
	background-color: rgba(#ff5c5c, .85);
	box-shadow: 0 2px 3px rgba(#000, 0);
	/* replace text with image */
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	color: transparent;
	&:hover {
		background-color: rgba(#ff5c5c, .85);
		box-shadow: 0 1px 2px rgba(#000, .3);
	}


	span, span::after, span::before {
		/* used to create the menu icon */
		position: absolute;
		height: 2px;
		width: 10px;
		background-color: $background;
	}

	span {
		/* menu icon middle line */
		@include center;
		@include transition(background-color .3s);
	}

	span::after, span::before {
		content: '';
		left: 0;
		@include transition(transform .3s);
	}

	span::before {
		/* menu icon middle top line */
		@include transform(translateY(-6px));
	}

	span::after {
		/* menu icon middle bottom line */
		@include transform(translateY(6px));
	}

	.nav-open & span {
		background-color: transparent;
		&::before {
			@include transform(rotate(45deg));
		}

		&::after {
			@include transform(rotate(-45deg));
		}
	}

	.nav-open {
		.cd-nav-trigger {
			background-color: #7b7b7b !important;
		}
	}

	@include MQ(L) {
		height: 30px;
		width: 30px;
		left: calc(3.5vw - 15px);
		top: calc(2.5vw - 10px);;
	}
}

/* -------------------------------- 

no-js

-------------------------------- */

.no-js .cd-slideshow-wrapper {
	overflow: visible;
	height: auto;
}

.no-js .cd-slideshow > li,
.no-js .cd-slideshow .sub-slides > li {
	height: auto;
	width: 100vw;
	margin: 0;
}

.no-js .cd-slider-content {
	margin: 0;
	height: 100vh;
	width: 100%;
	border-radius: 0;
}

.no-js .cd-slideshow > li:first-of-type .cd-slider-content,
.no-js .sub-slides > li:first-of-type .cd-slider-content,
.no-js .sub-slides > li .cd-slider-content {
	margin: 0;
}

.no-js .cd-slider-content .content-wrapper {
	opacity: 1;
	box-shadow: none;
}

.no-js .cd-slider-content::after {
	opacity: 0;
	visibility: hidden;
}

.no-js .cd-nav-trigger {
	display: none;
}

.no-js .cd-slideshow-nav {
	position: static;
}

.no-js #icon-keyboard {
	display: none;
}

.no-js .cd-slideshow-nav .cd-nav-items {
	position: static;
	@include transform(translateX(0));
}

.no-js .cd-slideshow-nav .cd-nav-items {
	height: auto;
}

.no-js .sub-nav {
	display: none;
}